.M_ArticlesCategories {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 120px;
  gap: 40px;
  .A_ArticlesСategory {
    position: relative;
    display: inline-block;
  }
}
.M_CardArticle {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 428px;
  height: 492px;
  padding: 36px 21px;
  background-color: var(--white);
  box-shadow: 0px 6px 9px var(--blackshadow), inset 0px 4px 10px var(--white);
  border-radius: 22px;
  &:hover {
    cursor: url('./images/pointer.svg'), auto;
    transition: all 0.5s ease-out;
    transform: scale(0.95);
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25), inset 0px 4px 10px var(--pink);
  }
  .A_CardArticleImage {
    position: relative;
    width: 385px;
    height: 256px;
  }
  .A_Heading3 {
    position: relative;
    display: inline-block;
    width: 304px;
  }
  .A_Paragraph {
    position: relative;
    display: inline-block;
    width: 304px;
  }
  &.NotShowing {
    display: none;
  }
}
.M_ArticleCardHuge {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 896px;
  height: 496px;
  padding: 36px 21px;
  background-color: var(--white);
  box-shadow: 0px 6px 9px var(--blackshadow), inset 0px 4px 10px var(--white);
  border-radius: 22px;
  &:hover {
    cursor: url('./images/pointer.svg'), auto;
    transition: all 0.5s ease-out;
    transform: scale(0.95);
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25), inset 0px 4px 10px var(--pink);
  }
  .A_CardArticleImage {
    position: relative;
    // width: 755px;
    width: calc(100% - 40px);
    height: 256px;
  }
  .A_heading3 {
    position: relative;
    display: inline-block;
    width: 755px;
  }
  .A_Paragraph {
    position: relative;
    display: inline-block;
    width: 755px;
  }
  &.NotShowing {
    display: none;
  }
}
.M_ArticlesCompilation {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  width: 428px;
  height: 492px;
  padding-top: 57px;
  border-radius: 22px;
  &:hover {
    cursor: url('./images/pointer.svg'), auto;
    transition: all 0.5s ease-out;
    transform: scale(0.95);
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25), inset 0px 4px 10px var(--pink);
  }
  .A_ArticleTopic {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .A_ArticleHeading {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  &.NotShowing {
    display: none;
  }
}
.M_TarotCard {
  position: relative;
  text-align: center;
  width: 428px;
  height: 630px;
  background: radial-gradient(
      98.49% 56.44% at 50% 0%,
      var(--pink) 0%,
      rgba(255, 139, 236, 0) 100%
    ),
    var(--white);
  border-radius: 22px;
  box-shadow: 0px 6px 9px var(--blackshadow);
  box-shadow: inset 0px 6px 12px #f8f6f0;
  box-shadow: 0px 6px 9px var(--blackshadow);
  .W_TarotCardShadow {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 6px 9px var(--blackshadow));
  }
  .W_TarotCardInside {
    position: relative;
    top: 30px;
    font-size: 52px;
    line-height: 110%;
    display: inline;
    box-decoration-break: clone;
    background: var(--white);
    padding: 5px;
    filter: url('#goo');
    box-shadow: none;
    .A_TarotCardIcon {
      position: relative;
      display: inline-block;
      margin: 0 auto;
      top: 5px;
      width: 55px;
      height: 41px;
    }
    .A_TarotCardImage {
      position: relative;
      display: block;
      margin: 0 auto;
    }
    .A_TarotCardNumber {
      position: relative;
    }
    .A_TarotCardTitleAntiqua {
      position: relative;
      padding: 0 10px;
      font-size: 52px;
    }
    .A_TarotCardTitleGrotesk {
      position: relative;
      padding: 0 10px;
      font-size: 48px;
    }
  }
  &.NotShowing {
    display: none;
  }
}
.M_TarotCardWide {
  position: relative;
  text-align: center;
  width: 584px;
  height: 400px;
  background: radial-gradient(
      53.17% 78.68% at 50% 100%,
      rgba(255, 139, 236, 0.71) 0%,
      rgba(255, 139, 236, 0) 100%
    ),
    #f8f6f0;
  border-radius: 22px;
  box-shadow: 0px 6px 9px var(--blackshadow);
  box-shadow: inset 0px 6px 12px #f8f6f0;
  box-shadow: 0px 6px 9px var(--blackshadow);
  .W_TarotCardShadow {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 6px 9px var(--blackshadow));
  }
  .W_TarotCardWideInside {
    position: relative;
    top: 30px;
    font-size: 52px;
    line-height: 110%;
    display: inline;
    box-decoration-break: clone;
    background: var(--white);
    padding: 5px;
    filter: url('#goo');
    box-shadow: none;
    .A_TarotCardIcon {
      position: relative;
      display: inline-block;
      margin: 0 auto;
      top: 18px;
      padding: 10px;
      width: 98px;
      height: 73px;
    }
    .A_TarotCardTitleAntiqua {
      position: relative;
      padding: 0 10px;
      font-size: 52px;
    }
    .A_TarotCardTitleGrotesk {
      position: relative;
      z-index: 1;
      padding: 0 10px;
      font-size: 48px;
    }
  }
  &.NotShowing {
    display: none;
  }
}
.M_ArticleCardBig {
  position: relative;
  display: block;
  text-align: center;
  width: 896px;
  height: 916px;
  border-radius: 22px;
  background: radial-gradient(
      216.06% 132.81% at 50% -32.81%,
      #313131 0%,
      #aa6ba0 0.01%,
      #f687e4 0.02%,
      #f8f6f0 100%
    ),
    #f5f6ee;
  box-shadow: 0px 6px 9px var(--blackshadow);
  box-shadow: inset 0px 6px 12px #f8f6f0;
  box-shadow: 0px 6px 9px var(--blackshadow);
  &:hover {
    cursor: url('./images/pointer.svg'), auto;
    transition: all 0.5s ease-out;
    transform: scale(0.95);
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25), inset 0px 4px 10px var(--pink);
  }
  &:hover .A_AccentButton {
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25), inset 0px 4px 10px var(--pink);
    cursor: url('./images/pointer.svg'), auto;
  }
  .W_TarotCardShadow {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 6px 9px var(--blackshadow));
  }
  .W_TarotCardBigInside {
    position: relative;
    top: 30px;
    font-size: 82px;
    line-height: 128%;
    display: inline;
    box-decoration-break: clone;
    background: var(--white);
    padding: 5px;
    filter: url('#goo');
    box-shadow: none;
    .A_TarotCardTitleAntiqua {
      position: relative;
      font-size: 100px;
      padding: 0 30px;
    }
    .A_TarotCardTitleGrotesk {
      position: relative;
      font-size: 96px;
      padding: 0 30px;
    }
    .A_AccentButton {
      position: relative;
      display: inline-block;
      top: -13px;
    }
  }
  &.NotShowing {
    display: none;
  }
}
.M_Description {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 428px;
  .A_subtitle {
    width: 313px;
  }
  .A_Paragraph {
    width: 313px;
  }
  .A_Link {
    color: var(--black);
    width: 313px;
  }
}
.M_Header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  background: radial-gradient(
    56.73% 70.46% at 50% -9.51%,
    var(--pink) 0%,
    rgba(255, 139, 236, 0) 100%
  );
  .W_HeaderText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 150px 0;
  }
  .W_HeaderHeading {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
}
.M_Content {
  position: relative;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  gap: 150px;
  width: 1828px;
  padding: 0 100px;
  .A_Subtitle {
    width: 320px;
  }
  .W_ParagraphAndImage {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1364px;
    height: fit-content;
    .A_Paragraph {
      width: 896px;
    }
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  .M_CardArticle {
    gap: 12px;
    width: 320px;
    height: 365px;
    padding: 22px 19px;
    box-shadow: 0px 5px 9px var(--blackshadow), inset 0px 4px 10px var(--white);
    border-radius: 16px;
    .A_CardArticleImage {
      width: 287px;
      height: 190px;
    }
    .A_Paragraph {
      width: 240px;
      font-size: 20px;
    }
  }
  .M_ArticlesCompilation {
    gap: 80px;
    width: 320px;
    height: 365px;
    padding-top: 42px;
  }
  .M_ArticleCardBig {
    width: 665px;
    height: 680px;
    border-radius: 16px;
    box-shadow: 0px 5px 9px var(--blackshadow);
    box-shadow: inset 0px 5px 12px #f8f6f0;
    box-shadow: 0px 5px 9px var(--blackshadow);
    .W_TarotCardShadow {
      filter: drop-shadow(0px 5px 9px var(--blackshadow));
    }
    .W_TarotCardBigInside {
      top: 30px;
      font-size: 63px;
      line-height: 133%;
      padding: 5px;
      .A_TarotCardTitleAntiqua {
        font-size: 80px;
        padding: 0 30px;
      }
      .A_TarotCardTitleGrotesk {
        font-size: 78px;
        padding: 0 30px;
      }
    }
  }
  .M_TarotCard {
    width: 320px;
    height: 470px;
    border-radius: 16px;
    box-shadow: 0px 5px 9px var(--blackshadow);
    box-shadow: inset 0px 5px 12px #f8f6f0;
    box-shadow: 0px 5px 9px var(--blackshadow);
    &:hover {
      cursor: url('./images/pointer.svg'), auto;
      transition: all 0.5s ease-out;
      transform: scale(0.95);
      box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25),
        inset 0px 4px 10px var(--pink);
    }
    .W_TarotCardShadow {
      filter: drop-shadow(0px 5px 9px var(--blackshadow));
    }
    .W_TarotCardInside {
      top: 20px;
      font-size: 36px;
      line-height: 133%;
      padding: 5px;
      .A_TarotCardIcon {
        top: 4px;
        width: 41px;
        height: 30px;
      }
      .A_TarotCardTitleAntiqua {
        font-size: 38px;
        padding: 0 10px;
      }
      .A_TarotCardTitleGrotesk {
        font-size: 36px;
        padding: 0 10px;
      }
    }
  }
  .M_TarotCardWide {
    width: 435px;
    height: 298px;
    border-radius: 16px;
    box-shadow: 0px 5px 9px var(--blackshadow);
    box-shadow: inset 0px 5px 12px #f8f6f0;
    box-shadow: 0px 5px 9px var(--blackshadow);
    &:hover {
      cursor: url('./images/pointer.svg'), auto;
      transition: all 0.5s ease-out;
      transform: scale(0.95);
      box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25),
        inset 0px 4px 10px var(--pink);
    }
    .W_TarotCardShadow {
      filter: drop-shadow(0px 5px 9px var(--blackshadow));
    }
    .W_TarotCardWideInside {
      top: 10px;
      font-size: 43px;
      line-height: 110%;
      padding: 5px;
      .A_TarotCardIcon {
        top: 14px;
        width: 73px;
        height: 54px;
        padding: 4px;
      }
      .A_TarotCardTitleAntiqua {
        font-size: 36px;
        padding: 0 12px;
      }
      .A_TarotCardTitleGrotesk {
        font-size: 38px;
        padding: 0 12px;
      }
    }
  }
  .M_ArticleCardHuge {
    gap: 12px;
    width: 665px;
    height: 410px;
    padding: 22px 19px;
    box-shadow: 0px 5px 9px var(--blackshadow), inset 0px 4px 10px var(--white);
    border-radius: 16px;
    .A_CardArticlesImage {
      width: 610px;
      height: 190px;
    }
    .A_heading3 {
      width: 610px;
    }
    .A_Paragraph {
      width: 610px;
    }
  }
  .M_ArticlesCategories {
    gap: 36px;
  }
  .M_Description {
    gap: 36px;
    width: 320px;
    .A_subtitle,
    .A_Paragraph,
    .A_Link {
      width: 320px;
    }
  }
  .M_Header {
    .W_HeaderText {
      gap: 25px;
      padding: 120px 0;
    }
    .W_HeaderHeading {
      gap: 8px;
    }
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  /*только смена количества колонок*/
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .M_CardArticle {
    gap: 9px;
    width: 299px;
    height: 340px;
    padding: 21px 16px;
    box-shadow: 0px 4px 9px var(--blackshadow), inset 0px 4px 10px var(--white);
    border-radius: 14px;
    .A_CardArticleImage {
      width: 268px;
      height: 180px;
    }
    .A_Paragraph {
      width: 218px;
    }
  }
  .M_ArticlesCompilation {
    gap: 70px;
    width: 299px;
    height: 340px;
    padding-top: 40px;
  }
  .M_ArticleCardBig {
    width: 620px;
    height: 633px;
    border-radius: 14px;
    box-shadow: 0px 4px 9px var(--blackshadow);
    box-shadow: inset 0px 4px 12px #f8f6f0;
    box-shadow: 0px 4px 9px var(--blackshadow);
    .W_TarotCardShadow {
      filter: drop-shadow(0px 4px 9px var(--blackshadow));
    }
    .W_TarotCardBigInside {
      top: 30px;
      font-size: 61px;
      line-height: 133%;
      padding: 5px;
      .A_TarotCardTitleAntiqua {
        font-size: 80px;
        padding: 0 30px;
      }
      .A_TarotCardTitleGrotesk {
        font-size: 78px;
        padding: 0 30px;
      }
    }
  }
  .M_TarotCard {
    width: 299px;
    height: 439px;
    border-radius: 14px;
    box-shadow: 0px 4px 9px var(--blackshadow);
    box-shadow: inset 0px 4px 12px #f8f6f0;
    box-shadow: 0px 4px 9px var(--blackshadow);
    .W_TarotCardShadow {
      filter: drop-shadow(0px 4px 9px var(--blackshadow));
    }
    .W_TarotCardInside {
      top: 18px;
      font-size: 36px;
      line-height: 125%;
      padding: 4px;
      .A_TarotCardIcon {
        top: 4px;
        width: 39px;
        height: 29px;
      }
      .A_TarotCardTitleAntiqua {
        font-size: 36px;
        padding: 0 7px;
      }
      .A_TarotCardTitleGrotesk {
        font-size: 33px;
        padding: 0 7px;
      }
    }
  }
  .M_TarotCardWide {
    width: 406px;
    height: 278px;
    border-radius: 16px;
    box-shadow: 0px 4px 9px var(--blackshadow);
    box-shadow: inset 0px 4px 12px #f8f6f0;
    box-shadow: 0px 4px 9px var(--blackshadow);
    .W_TarotCardShadow {
      filter: drop-shadow(0px 4px 9px var(--blackshadow));
    }
    .W_TarotCardWideInside {
      top: 10px;
      font-size: 43px;
      line-height: 105%;
      padding: 4px;
      .A_TarotCardIcon {
        top: 10px;
        width: 68px;
        height: 51px;
        padding: 3px;
      }
      .A_TarotCardTitleAntiqua {
        font-size: 33px;
        padding: 0 10px;
      }
      .A_TarotCardTitleGrotesk {
        font-size: 36px;
        padding: 0 10px;
      }
    }
  }
  .M_ArticleCardHuge {
    gap: 10px;
    width: 620px;
    height: 380px;
    padding: 20px 16px;
    box-shadow: 0px 5px 9px var(--blackshadow), inset 0px 4px 10px var(--white);
    border-radius: 14px;
    .A_CardArticlesImage {
      width: 580px;
      height: 180px;
    }
    .A_heading3 {
      width: 580px;
      font-size: 22px;
    }
    .A_Paragraph {
      width: 580px;
    }
  }
  .M_ArticlesCategories {
    gap: 32px;
  }
  .M_Description {
    gap: 34px;
    width: 299px;
    .A_subtitle,
    .A_Paragraph,
    .A_Link {
      width: 299px;
    }
  }
  .M_Header {
    .W_HeaderText {
      gap: 25px;
      padding: 110px 0;
    }
    .W_HeaderHeading {
      gap: 8px;
    }
  }
}

@media only screen and (min-width: 460px) and (max-width: 1023px) {
  .M_CardArticle {
    gap: 7px;
    width: 192px;
    height: 220px;
    padding: 21px 17px;
    box-shadow: 0px 3px 9px var(--blackshadow), inset 0px 4px 10px var(--white);
    border-radius: 10px;
    .A_Heading3 {
      width: 146px;
    }
    .A_CardArticleImage {
      width: 172px;
      height: 115px;
    }
    .A_Paragraph {
      width: 146px;
    }
  }
  .M_ArticlesCompilation {
    gap: 45px;
    width: 192px;
    height: 217px;
    padding-top: 25px;
  }
  .M_ArticleCardBig {
    width: 406px;
    height: 415px;
    border-radius: 14px;
    box-shadow: 0px 4px 9px var(--blackshadow);
    box-shadow: inset 0px 3px 12px #f8f6f0;
    box-shadow: 0px 4px 9px var(--blackshadow);
    .W_TarotCardShadow {
      filter: drop-shadow(0px 4px 9px var(--blackshadow));
    }
    .W_TarotCardBigInside {
      top: 30px;
      font-size: 32px;
      line-height: 152%;
      padding: 5px;
      .A_TarotCardTitleAntiqua {
        font-size: 50px;
        padding: 0 10px;
      }
      .A_TarotCardTitleGrotesk {
        font-size: 50px;
        padding: 0 10px;
      }
    }
  }
  .M_TarotCard {
    width: 192px;
    height: 282px;
    border-radius: 12px;
    box-shadow: 0px 3px 9px var(--blackshadow);
    box-shadow: inset 0px 3px 12px #f8f6f0;
    box-shadow: 0px 3px 9px var(--blackshadow);
    .W_TarotCardShadow {
      filter: drop-shadow(0px 3px 9px var(--blackshadow));
    }
    .W_TarotCardInside {
      top: 13px;
      font-size: 20px;
      line-height: 148%;
      padding: 4px;
      .A_TarotCardIcon {
        top: 2px;
        width: 30px;
        height: 18px;
      }
      .A_TarotCardTitleAntiqua {
        font-size: 23px;
        padding: 0 5px;
      }
      .A_TarotCardTitleGrotesk {
        font-size: 21px;
        padding: 0 5px;
      }
    }
  }
  .M_TarotCardWide {
    width: 406px;
    height: 278px;
    border-radius: 16px;
    box-shadow: 0px 4px 9px var(--blackshadow);
    box-shadow: inset 0px 4px 12px #f8f6f0;
    box-shadow: 0px 4px 9px var(--blackshadow);
    .W_TarotCardShadow {
      filter: drop-shadow(0px 4px 9px var(--blackshadow));
    }
    .W_TarotCardWideInside {
      top: 25px;
      font-size: 28px;
      line-height: 144%;
      padding: 4px;
      .A_TarotCardIcon {
        top: 10px;
        width: 50px;
        height: 37px;
        padding: 0px;
      }
      .A_TarotCardTitleAntiqua {
        font-size: 21px;
        padding: 0 6px;
      }
      .A_TarotCardTitleGrotesk {
        font-size: 23px;
        padding: 0 6px;
      }
    }
  }
  .M_ArticleCardHuge {
    gap: 7px;
    width: 299px;
    height: 250px;
    padding: 14px;
    box-shadow: 0px 4px 9px var(--blackshadow), inset 0px 4px 10px var(--white);
    border-radius: 10px;
    .A_CardArticlesImage {
      width: 270px;
      height: 110px;
    }
    .A_heading3 {
      width: 270px;
      font-size: 14px;
    }
    .A_Paragraph {
      width: 270px;
    }
  }
  .M_ArticlesCategories {
    gap: 20px;
    .A_ArticlesСategory {
      font-size: 30px;
    }
  }
  .M_Description {
    gap: 34px;
    width: 192px;
    .A_subtitle,
    .A_Paragraph,
    .A_Link {
      width: 192px;
    }
  }
  .M_Header {
    .W_HeaderText {
      gap: 20px;
      padding: 100px 0;
    }
    .W_HeaderHeading {
      gap: 8px;
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1023px) {
  /*только смена количества колонок*/
}

@media only screen and (min-device-width: 461px) and (max-device-width: 768px) {
  /* iPad тут тоже колонки? */
}

@media only screen and (max-device-width: 460px) {
  /* Phone */
  .M_Header {
    background: none;
    .W_HeaderText {
      gap: 20px;
      padding: 100px 0;
    }
    .W_HeaderHeading {
      gap: 10px;
    }
  }
  .M_CardArticle {
    gap: 12px;
    width: 338px;
    height: 365px;
    padding: 22px 19px;
    box-shadow: 0px 5px 9px var(--blackshadow), inset 0px 4px 10px var(--white);
    border-radius: 16px;
    .A_CardArticleImage {
      width: 300px;
      height: 190px;
    }
    .A_Paragraph {
      width: 280px;
      font-size: 20px;
    }
    .A_Heading3 {
      width: 280px;
      font-size: 24px;
    }
  }
  .M_ArticleCardBig {
    width: 338px;
    height: 415px;
    border-radius: 14px;
    box-shadow: none;
    background: none;
    .W_TarotCardShadow {
      filter: drop-shadow(0px 4px 9px var(--blackshadow));
    }
    .W_TarotCardBigInside {
      top: 30px;
      font-size: 32px;
      line-height: 152%;
      padding: 5px;
      .A_TarotCardTitleAntiqua {
        font-size: 44px;
        padding: 0 7px;
      }
      .A_TarotCardTitleGrotesk {
        font-size: 44px;
        padding: 0 7px;
      }
      .A_AccentButton {
        top: -4px;
      }
    }
  }
  .M_ArticlesCompilation {
    gap: 12px;
    width: 338px;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
    border-radius: 0px;
  }
  .M_ArticlesCategories {
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 45px;
    margin-left: 16px;
    padding: 20px;
    gap: 30px;
    overflow-x: auto;
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
    .A_ArticlesСategory {
      position: relative;
      display: inline-block;
      white-space: nowrap;
    }
  }
  .M_TarotCard {
    width: 165px;
    height: 243px;
    border-radius: 8px;
    box-shadow: 0px 3px 9px var(--blackshadow);
    box-shadow: inset 0px 3px 12px #f8f6f0;
    box-shadow: 0px 3px 9px var(--blackshadow);
    .W_TarotCardShadow {
      filter: drop-shadow(0px 3px 9px var(--blackshadow));
    }
    .W_TarotCardInside {
      top: 13px;
      font-size: 25px;
      line-height: 99%;
      padding: 4px;
      .A_TarotCardIcon {
        top: 2px;
        width: 30px;
        height: 18px;
      }
      .A_TarotCardTitleAntiqua {
        font-size: 23px;
        padding: 0 5px;
      }
      .A_TarotCardTitleGrotesk {
        font-size: 21px;
        padding: 0 5px;
      }
    }
  }
  .M_TarotCardWide {
    width: 338px;
    height: 232px;
    border-radius: 8px;
    .W_TarotCardShadow {
      filter: drop-shadow(0px 4px 9px var(--blackshadow));
    }
    .W_TarotCardWideInside {
      top: 25px;
      font-size: 27px;
      line-height: 121%;
      padding: 4px;
      .A_TarotCardIcon {
        top: 10px;
        width: 50px;
        height: 37px;
        padding: 0px;
      }
      .A_TarotCardTitleAntiqua {
        font-size: 21px;
        padding: 0 6px;
      }
      .A_TarotCardTitleGrotesk {
        font-size: 23px;
        padding: 0 6px;
      }
    }
  }
}
