.O_Menu {
  height: 58px;
  position: fixed;
  z-index: 100;
  left: calc(50% - 950px / 2);
  top: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  .A_Logo {
    width: 170px;
    height: 58px;
    background: var(--white);
    box-shadow: 0px 6px 9px var(--blackshadow);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      transition: all 1s ease-out;
      transform: scale(0.85);
    }
    img {
      width: 128.8px;
      height: 22px;
    }
  }
  .M_MenuElements {
    width: 628px;
    height: 58px;
    background: var(--white);
    box-shadow: 0px 6px 9px var(--blackshadow);
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    .Q_MenuStar {
      height: 16px;
      width: 16px;
    }
    .A_MenuElementText {
      font-family: 'Gramatika Demo';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      color: var(--black);
      line-height: 58px;
    }
    .W_MenuElementTextBox {
      height: 58px;
      &:hover .A_MenuElementText {
        text-shadow: 0px 0px 12px var(--pink);
        cursor: url('./images/pointer.svg'), auto;
      }
    }
    .W1_MenuElementTextBox {
      width: 118px;
    }
    .W2_MenuElementTextBox {
      width: 118px;
    }
    .W3_MenuElementTextBox {
      width: 202px;
    }
    .W4_MenuElementTextBox {
      width: 126px;
    }
  }
  .M_SearchBox {
    width: 136px;
    height: 58px;
    background: var(--white);
    box-shadow: 0px 6px 9px var(--blackshadow);
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    font-family: 'Gramatika Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
    line-height: 58px;

    transition: all 1s ease-out;
    &.Modify {
      height: fit-content;
      flex-wrap: wrap;
      padding-bottom: 20px;
    }
    .W_SearchItems {
      display: flex;
      flex-direction: column;
      height: fit-content;
      max-height: 60vh;
      width: 100%;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 7px;
      }

      .M_SearchItem {
        height: fit-content;
        background: radial-gradient(
            122.74% 181.63% at 50% -131.63%,
            rgba(255, 139, 236, 0.71) 0%,
            rgba(255, 139, 236, 0) 100%
          ),
          #f8f6f0;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), inset 0px 6px 12px #f8f6f0;
        border-radius: 14px;
        width: 100%;
        padding: 16px;
        margin-bottom: 10px;
        .A_Heading3 {
          text-align: left;
          width: auto;
        }
      }
    }
    .Q_SearchIcon {
      background-image: url('images/Q_SearchIcon.svg');
      width: 22px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .A_Search {
      height: 58px;
      width: 80px;
      border: none;
      background: transparent;
      font-family: 'Gramatika Demo';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      color: var(--black);
      line-height: 58px;
      cursor: url('./images/pointer.svg'), auto;

      &::placeholder {
        font-family: 'Gramatika Demo';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: var(--black);
        line-height: 58px;
      }
      &:focus {
        outline: none;
      }
    }
    &:hover {
      cursor: url('./images/pointer.svg'), auto;
    }
  }
  .M_SearchBoxActive {
    width: 352px;
    transition: all 1s ease-out;
    .A_Search {
      width: 280px;
    }
  }
  &:hover {
    cursor: url('./images/pointer.svg'), auto;
  }
}
.O_Footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 17vh;
  top: -22vh;
  bottom: 0;
  width: 100%;
  background-color: var(--black);
  height: 500px;
  border-radius: 22px 22px 0 0;
  padding: 60px;
  .Q_MenuStar {
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
  }
  .C_SocialsFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }
  .C_AuthorsFooter {
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    .W1_AuthorsFooter,
    .W2_AuthorsFooter {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 40px;
    }
  }
}
.O_Articles {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20vh;
  background: radial-gradient(
      117.87% 117.87% at 51.17% 0%,
      #f8f6f0 13.54%,
      #ff8bec 55.03%,
      #313131 100%
    ),
    #313131;
  border-radius: 22px 22px 0px 0px;
  .W_AllArticleCards {
    position: relative;
    display: flex;
    width: 1832px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
  }
}
.O_ContentFortuneTelling {
  transition: all 1s ease-out;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 196px;
  .M_TarotCard {
    margin: 0 -78px;
  }
  .C_Contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    .M_Content {
      display: flex;
      flex-direction: row;
      gap: 0;
      align-items: flex-start;
      justify-content: center;
      .A_Subtitle {
        width: 272px;
        margin-right: 40px;
      }
      .A_Paragraph {
        width: 740px;
      }
      .Q_MenuStar {
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        padding-right: 10px;
        display: inline-block;
      }
    }
  }
  &.NotShowing {
    display: none;
  }
}
.O_ContentFortuneTelling2 {
  transition: all 1s ease-out;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  .W_CardsRow {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: fit-content;
    height: fit-content;
    .W_TarotCardWithDescribtion {
      position: relative;
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .A_Paragraph {
        position: relative;
        width: 428px;
      }
    }
  }
  .A_Paragraph {
    position: relative;
    width: 896px;
  }
  .Q_MenuStar {
    position: relative;
    width: 40px;
    height: 40px;
  }
  .W_TarotResultText {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .A_AccentButtonTarotTellings {
    position: relative;
    left: 0px;
  }
  // &.NotShowing {
  //   display: none;
  // }
}
.O_MoreFortuneTellings {
  position: relative;
  height: 980px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: var(--pink);
  .W_HeaderHeading {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  .W_CardsRow {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: fit-content;
    height: fit-content;
  }
}
.O_ReadMore {
  margin-top: 160px;
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
  gap: 40px;
  padding-bottom: 17vh;
  background-color: var(--pink);
  border-radius: 22px 22px 0 0;
  .W_HeaderHeading {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  .W_ArticlesRow {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: fit-content;
    height: fit-content;
  }
}
.O_BlockOfTarotCards {
  position: relative;
  left: calc(50% - 1832px / 2);
  display: flex;
  flex-direction: row;
  gap: 40px;

  width: 1832px;
  padding-bottom: 100px;

  .C_TarotCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;

    width: 1364px;
    height: auto;
  }
}

.O_ArticleCompilations {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 17vh;
}

@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  .O_Menu {
    height: 47px;
    left: calc(50% - 826.5px / 2);
    top: 25px;
    gap: 16px;
    .A_Logo {
      width: 147px;
      height: 47px;
      box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      img {
        width: 111px;
        height: 19px;
      }
    }

    .M_MenuElements {
      width: 536px;
      height: 47px;
      box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      .Q_MenuStar {
        height: 13px;
        width: 13px;
      }
      .A_MenuElementText {
        font-size: 20px;
        line-height: 47px;
      }
      .W_MenuElementTextBox {
        height: 47px;
        &:hover .A_MenuElementText {
          text-shadow: 0px 0px 10px var(--pink);
        }
      }
      .W1_MenuElementTextBox {
        width: 101px;
      }
      .W2_MenuElementTextBox {
        width: 101px;
      }
      .W3_MenuElementTextBox {
        width: 171px;
      }
      .W4_MenuElementTextBox {
        width: 108px;
      }
    }

    .M_SearchBox {
      width: 111.5px;
      height: 47px;
      box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      padding: 0 15px;
      font-size: 20px;
      line-height: 47px;

      .Q_SearchIcon {
        width: 18.5px;
        height: 20px;
      }
      .A_Search {
        height: 47px;
        width: 58px;
        font-size: 20px;
        line-height: 47px;

        &::placeholder {
          font-size: 20px;
          line-height: 47px;
        }
      }
    }
    .M_SearchBoxActive {
      width: 253px;
      .A_Search {
        width: 200px;
      }
    }
  }
  .O_Footer {
    height: 376px;
    border-radius: 22px 22px 0 0;
    padding: 50px;
    .Q_MenuStar {
      height: 32px;
      width: 32px;
    }
    .C_SocialsFooter {
      gap: 20px;
    }

    .C_AuthorsFooter {
      display: flex;
      gap: 20px;
      .W1_AuthorsFooter,
      .W2_AuthorsFooter {
        gap: 20px;
      }
    }
  }
  .W_ContentFortuneTelling {
    gap: 140px;
    .M_TarotCard {
      margin: 0 -78px;
      // тут будет зависеть от адаптива карты
    }
    .C_Contents {
      gap: 90px;
      .M_Content {
        .A_subtitle {
          width: 205px;
          margin-right: 25px;
        }
        .A_paragraph {
          width: 550px;
        }
        .Q_MenuStar {
          height: 25px;
          width: 25px;
          padding-right: 10px;
        }
      }
    }
  }
  .O_Articles {
    .W_AllArticleCards {
      width: 1355px;
      gap: 25px;
    }
  }
  .O_BlockOfTarotCards {
    left: calc(50% - 1355px / 2);
    gap: 25px;

    width: 1355px;
    padding-bottom: 60px;

    .C_TarotCards {
      gap: 25px;

      width: 1010px;
    }
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  /*только смена количества колонок*/
  .O_Articles {
    .W_AllArticleCards {
      width: 1010px;
      gap: 25px;
    }
  }
  .O_BlockOfTarotCards {
    left: calc(50% - 1010px / 2);
    gap: 25px;

    width: 1010px;
    padding-bottom: 60px;

    .C_TarotCards {
      gap: 25px;

      width: 665px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .O_Menu {
    height: 43px;
    left: calc(50% - 726.47px / 2);
    top: 25px;
    gap: 14px;
    .A_Logo {
      width: 125.27px;
      height: 43px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
      border-radius: 11px;
      img {
        width: 93.47px;
        height: 16px;
      }
    }

    .M_MenuElements {
      width: 475px;
      height: 43px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
      border-radius: 11px;
      .Q_MenuStar {
        height: 12px;
        width: 12px;
      }
      .A_MenuElementText {
        font-size: 18px;
        line-height: 43px;
      }
      .W_MenuElementTextBox {
        height: 43px;
        &:hover .A_MenuElementText {
          text-shadow: 0px 0px 8px var(--pink);
        }
      }
      .W1_MenuElementTextBox {
        width: 89px;
      }
      .W2_MenuElementTextBox {
        width: 89px;
      }
      .W3_MenuElementTextBox {
        width: 151px;
      }
      .W4_MenuElementTextBox {
        width: 95px;
      }
    }

    .M_SearchBox {
      width: 98px;
      height: 43px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
      border-radius: 11px;
      padding: 0 13px;
      font-size: 18px;
      line-height: 43px;

      .Q_SearchIcon {
        width: 14px;
        height: 16px;
      }
      .A_Search {
        height: 43px;
        width: 46px;
        font-size: 18px;
        line-height: 43px;

        &::placeholder {
          font-size: 18px;
          line-height: 43px;
        }
      }
    }
    .M_SearchBoxActive {
      width: 231px;
      .A_Search {
        width: 190px;
      }
    }
  }
  .O_Footer {
    height: 287px;
    border-radius: 22px 22px 0 0;
    padding: 30px;
    .Q_MenuStar {
      height: 25px;
      width: 25px;
    }
    .C_SocialsFooter {
      gap: 30px;
    }

    .C_AuthorsFooter {
      display: flex;
      gap: 20px;
      .W1_AuthorsFooter,
      .W2_AuthorsFooter {
        gap: 30px;
      }
    }
  }
  .W_ContentFortuneTelling {
    gap: 128px;
    .M_TarotCard {
      margin: 0 -78px;
      // тут будет зависеть от адаптива карты
    }
    .C_Contents {
      gap: 85px;
      .M_Content {
        .A_subtitle {
          width: 192px;
          margin-right: 22px;
        }
        .A_paragraph {
          width: 513px;
        }
        .Q_MenuStar {
          height: 22px;
          width: 22px;
          padding-right: 10px;
        }
      }
    }
  }
  .O_Articles {
    .W_AllArticleCards {
      width: 942px;
      gap: 22px;
    }
  }
  .O_BlockOfTarotCards {
    left: calc(50% - 940px / 2);
    gap: 20px;

    width: 940px;
    padding-bottom: 50px;

    .C_TarotCards {
      gap: 20px;

      width: 620px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .O_Menu {
    height: 34px;
    left: calc(50% - 578.35px / 2);
    top: 25px;
    gap: 12px;
    .A_Logo {
      width: 98.11px;
      height: 34px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      img {
        width: 70.11px;
        height: 12px;
      }
    }

    .M_MenuElements {
      width: 374px;
      height: 34px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      .Q_MenuStar {
        height: 9px;
        width: 9px;
      }
      .A_MenuElementText {
        font-size: 14px;
        line-height: 34px;
      }
      .W_MenuElementTextBox {
        height: 34px;
        &:hover .A_MenuElementText {
          text-shadow: 0px 0px 7px var(--pink);
        }
      }
      .W1_MenuElementTextBox {
        width: 70px;
      }
      .W2_MenuElementTextBox {
        width: 70px;
      }
      .W3_MenuElementTextBox {
        width: 118px;
      }
      .W4_MenuElementTextBox {
        width: 74px;
      }
    }

    .M_SearchBox {
      width: 82.25px;
      height: 34px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding: 0 10px;
      font-size: 14px;
      line-height: 34px;

      .Q_SearchIcon {
        width: 12.25px;
        height: 14px;
      }
      .A_Search {
        height: 34px;
        width: 40px;
        font-size: 14px;
        line-height: 34px;

        &::placeholder {
          font-size: 14px;
          line-height: 34px;
        }
      }
    }
    .M_SearchBoxActive {
      width: 188px;
      .A_Search {
        width: 150px;
      }
    }
  }
  .O_Footer {
    height: 208px;
    border-radius: 22px 22px 0 0;
    padding: 23px;
    .Q_MenuStar {
      height: 20px;
      width: 20px;
    }
    .C_SocialsFooter {
      gap: 30px;
    }

    .C_AuthorsFooter {
      display: flex;
      gap: 20px;
      .W1_AuthorsFooter,
      .W2_AuthorsFooter {
        gap: 30px;
      }
    }
  }
  .W_ContentFortuneTelling {
    gap: 128px;
    .M_TarotCard {
      margin: 0 -78px;
      // тут будет зависеть от адаптива карты
    }
    .C_Contents {
      gap: 22px;
      .M_Content {
        .A_subtitle {
          width: 83px;
          margin-right: 22px;
        }
        .A_paragraph {
          width: 299px;
        }
        .Q_MenuStar {
          height: 22px;
          width: 22px;
          padding-right: 10px;
        }
      }
    }
  }
  .O_Articles {
    .W_AllArticleCards {
      width: 620px;
      gap: 22px;
    }
  }
  .O_BlockOfTarotCards {
    left: calc(50% - 620px / 2);
    gap: 22px;

    width: 620px;
    padding-bottom: 50px;

    .C_TarotCards {
      gap: 22px;

      width: 406px;
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1023px) {
  /*только смена количества колонок*/
}

@media only screen and (min-device-width: 461px) and (max-device-width: 768px) {
  /* iPad тут тоже колонки? */
}

@media only screen and (max-device-width: 460px) {
  /* Phone */
}
