.A_MenuLogo {
  width: 170px;
  height: 58px;
  background: var(--white);
  box-shadow: 0px 6px 9px var(--blackshadow);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    transition: all 1s ease-out;
    transform: scale(0.85);
  }
  img {
    width: 128.8px;
    height: 22px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
}
@media only screen and (min-width: 960px) and (max-width: 1439px) {
}
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  /*только смена количества колонок*/
}
@media only screen and (min-width: 500px) and (max-width: 959px) {
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  /*только смена количества колонок*/
}
@media only screen and (max-device-width: 499px) {
}
