body.articles{
 background-color: var(--white);
}
.A_h2_grotesk{
 position: relative;
 display: inline-block;
 font-family: 'Gramatika Demo';
 font-weight: normal;
 font-style: normal;
 font-size: 96px;
 line-height: 74%;
 text-align: center;
 text-shadow: 0px 0px 12px var(--white);
 color: var(--black);
}
.A_h2_antiqua{
 position: relative;
 display: inline-block;
 font-family: 'Wremena';
 font-weight: 300;
 font-style: normal;
 font-size: 100px;
 line-height: 74%;
 text-align: center;
 text-shadow: 0px 0px 12px var(--white);
 color: var(--black);
}
.A_bread_crumbs{
 position: relative;
 display: inline-block;
 font-family: 'Wremena';
 font-weight: 300;
 font-style: normal;
 font-size: 24px;
 line-height: 110%;
 text-align: center;
 text-shadow: 0px 0px 12px var(--white);
 color: var(--black);
}
.A_subtitle{
 position: relative;
 display: inline-block;
 font-family: 'Gramatika Demo';
 font-weight: 300;
 font-style: normal;
 font-size: 48px;
 line-height: 74%;
 text-align: center;
 text-shadow: 0px 0px 12px var(--white);
 color: var(--black);
}
.A_articles_category{
 position: relative;
 display: inline-block;
 font-family: 'Gramatika Demo';
 font-weight: 300;
 font-style: normal;
 font-size: 48px;
 line-height: 74%;
 text-shadow: 0px 0px 12px var(--white);
 color: var(--grey);
}
.M_header_text{
 position: relative; 
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 8px;
}
.M_articles_categories{
 position: relative; 
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 40px;
}
.S_header{
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: auto;
 height: auto;
 background: radial-gradient(56.73% 70.46% at 50% -9.51%, #FF8BEC 0%, rgba(255, 139, 236, 0) 100%);
 .W_header_text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 130px 0;
 }
}