.O_Menu{
    height: 58px;
    position: fixed;
    z-index: 100;
    left: calc(50% - 950px/2);
    top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    .A_Logo{
        width: 170px;
        height: 58px;
        background: var(--white);
        box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            transition: all 1s ease-out;
            transform: scale(0.85);
        }
        img{
            width: 128.8px;
            height: 22px;
        }
    }
    .M_MenuElements{
        width: 628px;
        height: 58px;
        background: var(--white);
        box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        .Q_MenuStar{
            background-image: url('images/Q_MenuStar.svg');
            height: 16px;
            width: 16px;
        }
        .A_MenuElementText{
            font-family: 'Gramatika Demo';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            color: var(--black);
            line-height: 58px;
        }
        .W_MenuElementTextBox{
            height: 58px;
            &:hover .A_MenuElementText{
                text-shadow: 0px 0px 12px var(--pink);
                cursor: url('./images/pointer.svg'), auto;
            }

        }
        .W1_MenuElementTextBox{
            width: 118px;
        }
        .W2_MenuElementTextBox{
            width: 118px;
        }
        .W3_MenuElementTextBox{
            width: 202px;
        }
        .W4_MenuElementTextBox{
            width: 126px;
        }


    }
    .M_SearchBox{
        width: 136px;
        height: 58px;
        background: var(--white);
        box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;

        font-family: 'Gramatika Demo';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: var(--black);
        line-height: 58px;

        transition: all 1s ease-out;
        .Q_SearchIcon{
            background-image: url('images/Q_SearchIcon.svg');
            width: 22px;
            height: 24px;
        }
        .A_Search{
            height: 58px;
            width: 80px;
            border: none;
            background: transparent;
            font-family: 'Gramatika Demo';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            color: var(--black);
            line-height: 58px;
            cursor: url('./images/pointer.svg'), auto;
            
 
            &::placeholder{
                font-family: 'Gramatika Demo';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                color: var(--black);
                line-height: 58px;
            }
            &:focus{
                outline: none;
            }
        }
        &:hover{
            cursor: url('./images/pointer.svg'), auto;
        }
    }
    .M_SearchBoxActive{
        width: 352px;
        transition: all 1s ease-out;
    }
    &:hover{
        cursor: url('./images/pointer.svg'), auto;
    }
}

.A_paragraph2{
    font-family: 'Wremena';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    line-height: 90%;
    text-align: center;
    color: var(--black);
}
.S_header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    background: radial-gradient(56.73% 70.46% at 50% -9.51%, #FF8BEC 0%, rgba(255, 139, 236, 0) 100%);
    .W_header_text{
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       gap: 40px;
       padding: 130px 0;
    }
    .A_h2_grotesk{
    position: relative;
    display: inline-block;
    font-family: 'Gramatika Demo';
    font-weight: normal;
    font-style: normal;
    font-size: 96px;
    line-height: 74%;
    text-align: center;
    text-shadow: 0px 0px 12px var(--white);
    color: var(--black);
   }
   .A_h2_antiqua{
    position: relative;
    display: inline-block;
    font-family: 'Wremena';
    font-weight: 300;
    font-style: normal;
    font-size: 100px;
    line-height: 74%;
    text-align: center;
    text-shadow: 0px 0px 12px var(--white);
    color: var(--black);
   }
   .A_bread_crumbs{
    position: relative;
    display: inline-block;
    font-family: 'Wremena';
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    text-shadow: 0px 0px 12px var(--white);
    color: var(--black);
   }
   .A_subtitle{
    position: relative;
    display: inline-block;
    font-family: 'Gramatika Demo';
    font-weight: 300;
    font-style: normal;
    font-size: 48px;
    line-height: 74%;
    text-align: center;
    text-shadow: 0px 0px 12px var(--white);
    color: var(--black);
   }
   .M_header_text{
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
   }
 }
.M_articles_categories{
 position: relative; 
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 40px;
}
.A_articles_category{
 position: relative;
 display: inline-block;
 font-family: 'Gramatika Demo';
 font-weight: 300;
 font-style: normal;
 font-size: 48px;
 line-height: 74%;
 text-shadow: 0px 0px 12px var(--white);
 color: var(--grey);
}
.M_card_articles{
 background-color: var(--white);
 .A_card_articles_image{
    position: relative;
    width: 384px;
    height: 256px;
    background-image: url('images/Q_card_article_image.png');   
    border-radius: 14px;
    overflow: hidden;
    .Q_card_articles_image_gradient{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 210, 237, 0) 70.83%, #FF8BEC 100%);
    }
    .A_heading3{
        position: relative;
        display: inline-block;
        font-family: 'Gramatika Demo';
        font-weight: normal;
        font-style: normal;
        font-size: 32px;
        line-height: 90%;
        text-align: center;
        color: var(--black);
     }
     .A_paragraph2{
        position: relative;
        display: inline-block;
    }
  }
 
}

body.cardoftheday{
    .A_paragraph{
        font-family: 'Wremena';
        position: relative;
        font-family: 'Wremena';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 110%;
        text-align: center;
        color: var(--black);
        width: 895px;
        left: calc((100% - 895px)/2);
        margin-bottom: 20px;
        top: -70px;
    }
    .A_AccentButton{
        position: relative;
        width: 352px;
        height: 87px;
        left: calc((100% - 352px)/2);
        background: var(--black);
        box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25), inset 0px 4px 10px var(--white);
        border-radius: 14px;
        margin: 70px 0;

        font-family: 'Wremena';
        font-style: normal;
        font-weight: 300;
        font-size: 64px;
        text-align: center;
        line-height: 87px;
        color: var(--white);
        text-shadow: 0px 0px 22px var(--white);
        &:hover{
            cursor: url('./images/pointer.svg'), auto;
            transition: all 0.5s ease-out;
            transform: scale(0.95);
            box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25), inset 0px 4px 10px var(--pink);
        }

    }
   
}
