<div class="O_Menu">
  <div class="A_Logo" onclick="location='index.html'">
    <img src="../images/A_Logo.svg" alt="" />
  </div>
  <div class="M_MenuElements">
    <a
      class="W1_MenuElementTextBox W_MenuElementTextBox"
      href="fortunetellings.html"
    >
      <div class="A_MenuElementText">погадать</div>
    </a>
    <div class="Q_MenuStar Black"></div>
    <a class="W2_MenuElementTextBox W_MenuElementTextBox" href="articles.html">
      <div class="A_MenuElementText" style="font-weight: 700">почитать</div>
    </a>
    <div class="Q_MenuStar Black"></div>
    <a class="W3_MenuElementTextBox W_MenuElementTextBox" href="cards.html">
      <div class="A_MenuElementText">толкования карт</div>
    </a>
    <div class="Q_MenuStar Black"></div>
    <a
      class="W4_MenuElementTextBox W_MenuElementTextBox"
      href="cardoftheday.html"
    >
      <div class="A_MenuElementText">карта дня</div>
    </a>
  </div>
  <div class="M_SearchBox">
    <input
      class="A_Search"
      type="text"
      placeholder="поиск"
      onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'поиск'"
    />
    <div class="Q_SearchIcon"></div>
  </div>
</div>
