.A_MenuElement {
  font-family: 'Gramatika Demo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
  line-height: 58px;
}
.W_MenuElementTextBox {
  height: 58px;
  &:hover .A_MenuElementText {
    text-shadow: 0px 0px 12px var(--pink);
    cursor: url('./../../images/pointer.svg'), auto;
  }
}
.W_MenuElement1 {
  width: 118px;
}
.W_MenuElement2 {
  width: 118px;
}
.W_MenuElement3 {
  width: 202px;
}
.W_MenuElement4 {
  width: 126px;
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
}
@media only screen and (min-width: 960px) and (max-width: 1439px) {
}
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  /*только смена количества колонок*/
}
@media only screen and (min-width: 500px) and (max-width: 959px) {
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  /*только смена количества колонок*/
}
@media only screen and (max-device-width: 499px) {
}
